.nametag, .contact{
  background-color:maroon;
  border-radius: 10px;
  color:white;
  text-align:center;
  height:450px;
  cursor:pointer;
  margin-top:10%;
}


.second-section{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:400px;
}

.contact{
  padding-top:10px;
}
.name-box{
  background-color:white;
  color:black;
  height:250px;
  width:95%;
  border-radius: 4px;
  padding:5px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.name, .email{
  font-family: 'Permanent Marker', cursive;
  vertical-align: middle;
  font-size: 9em;
}

.email{
  font-size: 2.5em;
  text-transform:lowercase;
  padding:10px;
}

.header-1, .header-2{
  font-size: 5em;
}

.sub-title{
  padding-bottom:3px;
}

.sub-title, .hello{
  font-weight: bold;
  text-transform:uppercase;
}


.what-i-do{
  font-size: 1.5em;
}

.card{
  border:none;
  width: 40%;
  margin: 0% 30% 5% 30%;
}

.page-header{
  height:800px;
}
.third-section{
  height:400px;
}

/* ----- Responsive design ----- */
@media only screen and (max-width: 1280px){


  .card{
    width:45%;
  }
}

@media only screen and (max-width: 1024px){
  .card{
    width:51%;
    margin: 0% 25%;
  }
}

@media only screen and (max-width:768px){
  .card{
    width: 75%;
    margin: 0% 13%;
  }
}

@media only screen and (max-width: 540px){
  .nametag, .contact{
    height:375px;
  }
  .name-box{
    height:200px;
  }
  .name{
    font-size:3.5em;
  }
  .what-i-do{
    font-size:1em;
  }
  .header-2{
    font-size:4em;
  }
}
