.nametag{
  background-color:maroon;
  border-radius: 10px;
  color:white;
  text-align:center;
  height:450px;
}

.name-box{
  background-color:white;
  color:black;
  height:250px;
  border-radius: 4px;
  padding:5px;
}

.name{
  font-family: 'Permanent Marker', cursive;
  vertical-align: middle;
  font-size: 9em;
}

.hello{
  font-size: 5em;
}

.sub-title{
  padding-bottom:3px;
}

.sub-title, .hello{
  font-weight: bold;
  text-transform:uppercase;
}


.what-i-do{
  font-size: 1.5em;
}


@media only screen and (max-width: 540px){
  .nametag{
    height:375px;
  }
  .name-box{
    height:200px;
  }
  .name{
    font-size:5em;
  }
  .what-i-do{
    font-size:1em;
  }
}
